/* advantages */

.advantages__heading {
  display: none;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 60px 0;

  border-bottom: 1px solid $headder-border;

  list-style: none;
}
@media screen and (min-width: $desktop) {
  .advantages__list {
    padding: 94px 0;

    border-bottom: 1px solid $headder-border;

    list-style: none;
  }
}

.advantages__item {
  margin: 0;
  padding: 0;
}
.advantages__item:not(:last-child) {
  margin: 0 0 30px;
}
.advantages__svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  max-width: 450px;

  margin-bottom: 30px;

  background-color: $grey-svg-color;

  border-radius: 4px;
}
.advantages__title {
  margin: 0 0 10px 0;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: $title-text-color;
}

.advantages__text {
  margin: 0;
  width: 100%;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}
@media screen and (min-width: $desktop) {
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages__item {
    width: calc(25% - 15px);
  }
  .advantages__list {
    flex-direction: row;
  }
}
@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
  .advantages__item {
    width: calc(50% - 15px);
  }
  .advantages__item:nth-child(odd) {
    margin-right: 30px;
  }
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages__title {
    text-align: start;
  }
}
