.footer {
  // padding-top: 48px;
  // padding-bottom: 21px;
  background-color: $footer-color;
}
.logo--footer {
  margin-bottom: 10px;
}
.logo--white {
  color: $primary-white-color;
}
.adress__adress {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.36;

  letter-spacing: 0.03em;

  color: $primary-white-color;
}

.adress__adress--transparend {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    width: 50%;
  }
  @media screen and (min-width: $desktop) {
    align-items: start;
  }
}

@media screen and (min-width: $desktop) {
  .container--horizontal {
    align-items: baseline;
  }
  .adress__adress {
    text-align: left;
  }
}
.join__text {
  text-align: center;
  margin: 0 0 21px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-white-color;
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.social-list__item--tranparend {
  background-color: $footer-social;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.sign__buttons {
  display: flex;
  cursor: pointer;
}
.sign__text {
  margin: 0 0 21px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-white-color;
}
.sign__email {
  display: flex;
  align-items: center;
  margin: 0 12px 0 0;
  padding: 18px 12px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $footer-color;
}
.sign__button {
  display: flex;
  margin: 0;
  cursor: pointer;
}
.sign__svg {
  margin-left: 10px;
  fill: $primary-white-color;
  transition: fill 250ms $cubic;
}
.sign__button:hover .sign__svg {
  fill: $accent-color;
}
.container--horizontal {
  padding-top: 60px;
  padding-bottom: 60px;
  // border-bottom: 1px solid $footer-social;
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    flex-wrap: wrap;
  }
}
.copyright {
  margin: 18px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;

  text-align: center;
  letter-spacing: 0.03em;

  color: $copyright-text-color;
}

@media screen and (max-width: $desktop) {
  .social-list--footer {
    align-content: center;
    justify-content: center;
  }
  .join,
  .sign {
    margin-top: 60px;
    @media screen and (min-width: $desktop) {
      margin-top: 0;
    }
  }
  .join {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      width: 50%;
      margin-top: 0;
    }
  }
  .sign {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      width: 100%;
      padding-left: 166px - 15px;
      padding-right: 152px - 15px;
      // margin-top: 0;
    }
  }
  .sign__text {
    text-align: center;
    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }
  .sign__buttons {
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }
  .sign__email {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
  .sign__button {
    width: 200px;

    margin-left: auto;
    margin-right: auto;
  }
}
.copyright {
  display: none;
}
