
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $primary-white-color: #ffffff;
    $primary-logo-color: #afb1b8;
    $headder-border: #ececec;
    $grey-svg-color: #f5f4fa;
    $doing-subtitle: rgba(47, 48, 58, 0.8);
    $footer-color: #2f303a;
    $footer-social: rgba(255, 255, 255, 0.1);
    $copyright-text-color: rgba(255, 255, 255, 0.4);
    $works--border: #eeeeee;
    $card-overlay: rgba(33, 150, 243, 0.9);
  
    $cubic: cubic-bezier(0.4, 0, 0.2, 1);
  